body{
    background: white;
    width: 2400px;
}

#imagen-proyecto{
    width: 700px;
    height:400px ;
}

.portafolio{
    display:flex;
    width: 100%;

}
.caja-principal{
    width: 95%;
    margin: 0 auto;
}

