<!-- your html code here -->
<div class="contact">
    <div>
    <h3>Contact</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.ullamcorper nulla non metus auctor fringilla. Aenean lacinia.</p>
    </div>
    <div class="mb-3">
        <label for="emailform" class="form-label">Your E-mail</label>
        <input type="email" class="form-control" id="emailform" placeholder="Your email">
    </div>
    <div class="mb-3">
        <label for="textareaform" class="form-label">Your message</label>
        <textarea class="form-control" id="textareaform" rows="3"></textarea>
    </div>
</div>