<!-- your html code here -->
<div>
    <div>
     <h2>Portfolio</h2>
     <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
        </p>
    </div>
    <div>
        <div class="row">
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
            <h4>Project Name</h4>
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
        </div>
    </div>
</div>