<!-- your html code here -->
<div class="portafolio-principal">
    <div>
     <h2>Portfolio</h2>
     <p>Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.ullamcorper nulla non metus auctor fringilla. Aenean lacinia.Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.ullamcorper nulla non metus auctor fringilla. Aenean lacinia.

        </p>
    </div>
    <div>
        <div class="portafolio">
            <div class="col-4">
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
            <h3 class="project">Project Name</h3>
            <p class="kai">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> 
                sed do eiusmod tempor incididunt ut labore et dolore<br>
                 magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
            <div class="col-4">
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
            <h3 class="project">Project Name</h3>
            <p class="kai">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> 
                sed do eiusmod tempor incididunt ut labore et dolore<br>
                 magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
            <div class="col-4">
            <img id="imagen-proyecto" src="/website/assets/img/big-project-image.png">
            <h3 class="project">Project Name</h3>
            <p class="kai">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> 
                sed do eiusmod tempor incididunt ut labore et dolore<br>
                 magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
        </div>
        </div>
    </div>
</div>
<hr>